<!-- Using Reactive form approach -->
<div class="card">
  <div class="card-header">
    Log in!
  </div>

  <div class="card-body">
    <!-- Login Form -->
    <form
      novalidate
      [formGroup]="loginForm"
      autocomplete="off"
      (ngSubmit)="login()"
    >
      <fieldset>
        <!-- User name input field -->
        <div class="form-group mb-2 row">
          <label class="col-md-2 col-form-label" for="userNameId"
            >User Name</label
          >
          <div class="col-md-8">
            <input
              ngModel
              class="form-control"
              id="userNameId"
              type="text"
              placeholder="User Name (required)"
              formControlName="userName"
              [class]="{
                'is-invalid': displayMessage.userName
              }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.userName }}
            </span>
          </div>
        </div>

        <!-- Password input field -->
        <div class="form-group mb-2 row">
          <label class="col-md-2 col-form-label" for="passwordId"
            >Password</label
          >
          <div class="col-md-8">
            <input
              ngModel
              class="form-control"
              id="passwordId"
              type="password"
              placeholder="Password (required)"
              formControlName="password"
              [class]="{
                'is-invalid': displayMessage.password
              }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.password }}
            </span>
          </div>
        </div>

        <!-- Form buttons -->
        <div class="row">
          <div class="col-md-4 offset-md-2">
            <!-- Log in button -->
            <button
              class="btn btn-primary mr-3"
              type="submit"
              [title]="
                loginForm.valid
                  ? 'Log in'
                  : 'Disabled until the form data is valid'
              "
              [disabled]="!loginForm.valid"
            >
              Log in
            </button>

            <!-- Cancel button -->
            <button
              class="btn btn-outline-secondary"
              type="button"
              [routerLink]="['/home']"
            >
              Cancel
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<!-- checking login form state and values -->
<!-- <pre>
    loginForm Dirty: {{ loginForm.dirty }} 
    loginForm Touched: {{ loginForm.touched }}
    loginForm Valid: {{ loginForm.valid }} 
    loginForm Value: {{ loginForm.value | json }}
    Username valid: {{ loginForm.get("userName").valid }}
    Username touched: {{ loginForm.get("userName").touched }}
    Username dirty: {{ loginForm.get("userName").dirty }}
    Username value: {{ loginForm.get("userName").value }}
    password valid: {{ loginForm.get("password").valid }}
    password touched: {{ loginForm.get("password").touched }}
    password dirty: {{ loginForm.get("password").dirty }}
    password value: {{ loginForm.get("password").value }}
</pre> -->
