@import '../../../assets/sass/variables';

.dropdown {

  &__btn {
    position: relative;
    z-index: 1000;
  }

  &__menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: $primary-bg-color;
    z-index: 1000;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 1rem gray;
    max-height: 27rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
