<div class="row p-2 justify-content-center">
    <div class="col-4" *ngIf="false">
        <a
          style="cursor: pointer;"
          [routerLink]="['/products/category/' + category.name]"
          >
          Bla
        </a>
    </div>
    <div class="col-8">
        <a
          class="category-link"
          style="cursor: pointer;"
          [routerLink]="['/products/category/' + category.name]"
          routerLinkActive="active-category"
          >
            <div class="d-flex justify-content-around">
                <h5>{{ category.name }}</h5>
                <h5>></h5>
            </div>
        </a>
    </div>
</div>
