<div class="row p-2 justify-content-center">
    <div class="col-4" *ngIf="this.isAdmin">
        <a *ngIf="category"
          style="cursor: pointer;"
          [routerLink]="['/admin/categories/' + this.category.id.toString() + '/edit']"
          >
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-8">
        <a
          class="category-link"
          style="cursor: pointer;"
          [routerLink]="['/products/' + (category ? category.name : 'all')]"
          routerLinkActive="active-category"
          >
            <div class="d-flex justify-content-around">
                <h5>{{ category ? category.name : 'All Products' }}</h5>
                <h5>></h5>
            </div>
        </a>
    </div>
</div>
