@import '../../../assets/sass/variables';
@import '../../../assets/sass/functions';
@import '../../../assets/sass/mixins';

.category-link {
    color: #000;
    text-decoration: none;
    transition: all 0.3s;

    &:not(.active-category) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-left: 0.1rem solid #c7c7c7;
            border-bottom: 0.1rem solid #c7c7c7;
            transform-origin: bottom left;
            transform: scale(0);
            transition: all 0.5s;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 0.1rem solid #c7c7c7;
            border-right: 0.1rem solid #c7c7c7;
            transform-origin: top right;
            transform: scale(0);
            transition: all 0.5s;
        }
        &:hover {
          color: #c7c7c7;
          text-decoration: none;
          &::before, &::after {
            transform: scale(1);
          }
        }
    }
}

.active-category {
    color: $primary-color;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0.1rem solid $primary-color;
    }
}
