<div class="row p-2 justify-content-center">
    <div class="col-4" *ngIf="this.authService.isAdmin()">
        <a
          style="cursor: pointer;"
          [routerLink]="['/admin/categories/' + this.category.id + '/edit']"
          >
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-8">
        <a
          class="category-link"
          style="cursor: pointer;"
          [routerLink]="['/products/' + category.name]"
          routerLinkActive="active-category"
          >
            <div class="d-flex justify-content-around">
                <h5>{{ category.name }}</h5>
                <h5>></h5>
            </div>
        </a>
    </div>
</div>
