<div class="col mb-4">
  <div class="card product-card" >
    <img
      src="https://i.pinimg.com/originals/5b/33/29/5b3329d43efc1792543ab088265ec68c.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body text-center">
      <a class="card-title">Strawberry</a>
      <p class="product-card__price">23$</p>
      <div class="product-card__icons">
        <a href="#" class="product-card__icon"><i class="fa fa-search"></i></a>
        <a href="#" class="product-card__icon"
          ><i class="fa fa-shopping-cart"></i
        ></a>
        <a href="#" class="product-card__icon"><i class="fa fa-heart-o"></i></a>
      </div>
    </div>
  </div>
</div>
