@import '../../../assets/sass/variables';

.product-card {
  font-size: 25px;
  padding: 0 20px;
  transition: all 0.4s;
}
.product-card:hover {
  border-color: $primary-color;
  box-shadow: 0 0px 13px 0px rgba(0, 0, 0, 0.15);
  .product-card__icons {
    transform: scale(1);
    opacity: 1;
  }
  .product-card__price {
    transform: scale(0);
    opacity: 0;
  }
}
.product-card .card-title {
  font-weight: 600;
  transition: all 0.4s;
  cursor: pointer;
}
.product-card .card-title:hover {
  color: $primary-color;
}
.product-card__price {
  color: #999;
  font-size: 20px;
  padding: 21px 0 0;
  transition: all 0.4s;
}
.product-card__icons {
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s;
  position: absolute;
  bottom: 26px;
  left:0;
  width: 100%;
}
.product-card__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 5px;
  background-color: $primary-color;
  color: $primary-bg-color;
  opacity: 0.5;
  transition: opacity 0.4s;
}
.product-card__icon:hover {
  opacity: 1;
}
