<div class="container">
    <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <form novalidate
                autocomplete="off"
                [formGroup]="addOREditProductForm"
                (ngSubmit)="saveProduct()"
                *ngIf="product || !this.editMode">
    
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                            for="productNameId">Name</label>
                    <div class="col-md-8">
                        <input 
                            class="form-control"
                            id="productNameId"
                            type="text"
                            placeholder="Name (required)"
                            formControlName="name"
                            [class]="{
                                'is-invalid': displayMessage.name
                              }"
                            />
                        <span class="invalid-feedback">
                            {{displayMessage.name}}
                        </span>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                            for="productPriceId">Price</label>
                    <div class="col-md-8">
                        <input 
                            class="form-control"
                            id="productPriceId"
                            type="text"
                            placeholder="Price (required)"
                            formControlName="price"
                            [class]="{
                                'is-invalid': displayMessage.price
                              }"
                            />
                        <span class="invalid-feedback">
                            {{displayMessage.price}}
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                            for="productDescriptionId">Description</label>
                    <div class="col-md-8">
                        <input 
                            class="form-control"
                            id="productDescriptionId"
                            type="text"
                            placeholder="Description"
                            formControlName="description"
                            />
                        <span class="invalid-feedback">
                        
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                            for="productCategoryId">Category</label>
                    <div class="col-md-8">
                        <input 
                            class="form-control"
                            id="productCategoryId"
                            type="text"
                            placeholder="Category"
                            formControlName="categoryName"
                            />
                        <span class="invalid-feedback">
                        
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <button 
                            class="btn bg-green-light text-white mr-4"
                            [disabled]="!addOREditProductForm.valid"
                            type="submit"
                            [title]="addOREditProductForm.valid ? 'Save your entered data': 'Disabled until the form data is valid' "
                        >
                            Save
                        </button>
                        <button 
                            class="btn btn-outline-secondary"
                            (click)="onCancel()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
</div>