<div class="categoriesList-wrapper" #categoriesList>

  <div class="container categories-container">
    
    <!-- <div class="row justify-content-end">
      <div class="col-4 d-flex justify-content-center">
        <button class="toggle-sidebar" type="button" (click)="toggleCategories()">Toggle Me</button>
      </div>
    </div> -->

    <div class="row">
      <div class="col-12">

        <h4 class="text-center pb-4">
          Filter By Category
        </h4>

        <app-category
          *ngFor="let category of categories"
          [category]="category"
          >
        </app-category>

      </div>
    </div>
  </div>

</div>
