<div class="container-fluid ">
    <div class="row">
        <div class="col-6 p-4 side-bar" #sideBar>
            <div class="row justify-content-end">
                <div class="col-4 d-flex justify-content-end">
                  <a class="toggle-sidebar text-white" (click)="toggleSideBar();"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <ul class="nav flex-column">

                <li class="nav-item p-2">
                    <a
                        class="nav-link"
                        [routerLink]="['/admin/products']"
                        (click)="toggleSubMenu(productsSubMenu); productMenuStatus = !productMenuStatus"
                        >
                        Products
                        <i class="fa fa-caret-down" [ngClass]="productMenuStatus ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    </a>
                    <div class="sub-link collapsed" #productsSubMenu>
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item">
                                <a class="nav-link p-2" [routerLink]="['/admin/products/new']">
                                    <i class="fa fa-plus"></i>
                                     Add Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-2" [routerLink]="'/admin/products'">
                                    <i class="fa fa-list-ul"></i> 
                                    List Product
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item p-2">
                    <a
                        class="nav-link "
                        [routerLink]="['/admin/categories']"
                        (click)="toggleSubMenu(categoriesSubMenu); categoryMenuStatus = !categoryMenuStatus"
                        >
                        Categories 
                        <i class="fa fa-caret-down" [ngClass]="categoryMenuStatus ? 'fa-caret-up' : 'fa-caret-down'"></i>
                    </a>
                    <div class="sub-link collapsed" #categoriesSubMenu>
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item">
                                <a class="nav-link p-2" [routerLink]="['/admin/categories/new']">
                                    <i class="fa fa-plus"></i>
                                     Add Category
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-2" [routerLink]="'/admin/categories'">
                                    <i class="fa fa-list-ul"></i>
                                     List Category
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
        
                <li class="nav-item p-2">
                    <a class="nav-link " [routerLink]="'/admin/orders'">Orders</a>
                </li>

            </ul>
        </div>
        <div class="col-8 p-4 display">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
