@import './../../../assets/sass/variables';
.header {
  display: flex;
  height: 6rem;
  background-color: rgb(141, 206, 141);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-nav {
  flex-direction: row;
}
.nav-item{
  margin-right: 10px;
}

.nav-link{
  color: black;
}
