@import '../../../assets/sass/variables';

.header {
  display: flex;
  height: 6rem;
  background-color: $primary-bg-color;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid $primary-color;
}

.navbar-nav {
  flex-direction: row;
}
.nav-item{
  margin-right: 10px;
}

.nav-link{
  color: black;
}
