<app-dropdown-menu menuPosition="middle">
  <div class="dropdown-button cart-btn">
    <i class="fa fa-shopping-cart"></i>
    <div class="cart-btn__notification" *ngIf="this.products?.length">{{this.products?.length}}</div>
  </div>
  <div *ngIf="this.products && this.products.length" class="dropdown-items cart-items">
    <app-product-in-cart *ngFor="let product of products" [product]="product">
    </app-product-in-cart>
    <button class="round-edge-btn" (click)="submitOrder()">Check out</button>
  </div>
</app-dropdown-menu>
