<div class="item-small-1">
  <!-- item data -->
  <div class="item-small-1__image-box">
    <a href="#" class="item-small-1__image image" [style.backgroundImage]="'url('+product.imgUrl+')' ">
    </a>

  </div>
  <div class="item-small-1__data">
    <!-- title -->
    <a href="" [title]="product.name" class="item-small-1__title">{{product.name}}</a>
    <!-- price -->
    <span class="item-small-1__description">
      {{product.quantity + ' x $' + product.price}}
    </span>
  </div>
  <div>
    <input
    class="item-small-1__quantity"
    #quantity
    type="number"
    (change)="onQuantityChange(quantity)"
    [value]="product.quantity"
    min="1" />
  </div>
  <div (click)="removeCartProduct()">
      <i class="item-small-1__delete-icon fa fa-trash"></i>
  </div>
  <!-- item image -->
</div>
