// Colors
$primary-color: #81b03f;
$primary-bg-color: rgba(255, 255, 255, 0.897);

// Responsive design breakpoints
$small-phone: 320px;
$landscape: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

// Bootstrap overridden variables
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
     1: ($spacer * .25),     //4px
     2: ($spacer * .5),      //8px
     3: $spacer,             //16px
     4: ($spacer * 1.5),     //24px
     5: ($spacer * 3),       //48px
     6: ($spacer * 4),       //64px
     7: ($spacer * 5),       //80px
     8: ($spacer * 6.25),    //100px
     9: ($spacer * 7.5),     //120px
     10: ($spacer * 9.375),  //150px
     11: ($spacer * 10),     //160px
     16: ($spacer * 16),     //256px
  ),
  $spacers
);
